<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Recipe</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" id="all-css-0-1" href="/static/css/1.css" type="text/css" media="all">
	<link rel="stylesheet" id="button-2-fonts-css" href="/static/css/2.css" type="text/css" media="all">

</head>
<body>


    <div id="page" class="hfeed site">

			<header id="masthead" class="site-header" role="banner">
				<div class="site-branding">
					<img width="663" height="260" src="{{ url_for('static', filename='images/yemekler.jpg') }}" >
					<h1 class="site-title">Ne Pişirsek?</a></h1>
					<p class="site-description">Pişirilecek şeyler bulun!.</p>
				</div><!-- .site-branding -->
			</header><!-- #masthead -->

			<nav id="site-navigation" class="main-navigation" role="navigation">
				<div >
					<ul >
						<li id="menu-item-271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-271"><a href="{{url_for("add_recipe")}}">Add Recipe</a></li>
						<li id="menu-item-272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-272"><a href="{{url_for("search")}}">Search</a></li>
						<li id="menu-item-273" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-273"><a href="{{url_for("profile")}}">My Profile</a></li>
						<li id="menu-item-272" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-272"><a href="{{url_for("leaderboard")}}">Leaderboard</a></li>
						<li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274"><a href="{{url_for("log_out")}}">Log out</a></li>
						<li id="menu-item-275" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">{{username}}</li>
					</ul>
				</div>
			</nav>

            <section class="sign-in">
            <div>
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='images/signin-image.jpg') }}" alt="sing up image"></figure>
                    </div>

                    <div class="addrecipe-form">
                        <h2 class="form-title">Add Recipe</h2>
                        <form action="{{url_for("add_recipe_confirm")}}" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="recipe_name" id="recipe_name" placeholder="Recipe Name"/>
                            </div>
                            <div class="form-group">
                                <textarea name="recipe_text" id="recipe_text" rows="10" cols="35">Please explain your recipe here</textarea>
                            </div>

                            <div>
                                <h3>Select a Category</h3>
                                {% for category in categories %}
                                    <input type="radio" name="category" value="{{category.id}}"> {{category.name}}<br>
                                {% endfor %}
                            </div>

                            <div >
                                <h3>Select Ingredients</h3>
                                {% for ingredient in ingredients %}
                                    <input type="checkbox" name="ingredient" value="{{ingredient.id}}"> {{ingredient.name}}<br>
                                {% endfor %}
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="add_recipe" id="add_recipe" class="form-submit" value="Add Recipe"/>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>


			<footer id="colophon" class="site-footer" role="contentinfo">
				<div class="footer-widgets clear">
				</div>
				<div class="site-info">
					<a>Ne Pişirsek? İTÜ'de doğmuştur. </a>
				</div>

			</footer><!-- #colophon -->

		</div>

    <!-- JS -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
