<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete Recipe</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <div class="main_delete">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='images/signin-image.jpg') }}" alt="sing up image"></figure>
                    </div>

                    <div class="deleterecipe-form">
                        <h2 class="form-title">Delete Recipe</h2>
                        <form action="{{url_for("delete_recipe_confirm")}}" method="POST" class="register-form" id="login-form">
                             <div>
                                <h3>Are you sure?</h3>
                                 <input type="radio" name="confirmation" value="yes"> Yes<br>
                                 <input type="radio" name="confirmation" value="no"> No<br>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="delete_recipe" id="delete_recipe" class="form-submit" value="Delete Recipe"/>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
