<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ne Pişirsek?</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
	<div class="forchecking">
	</div>
    <div class="main">

        {% if user_logged_in %}
            <p>You are logged in!</p> <br>

            {% if username != "" %}
                <p>You are logged in as {{username}}!</p> <br>
            {% endif %}
			
            <p><a href="{{url_for("log_out")}}">log out</a></p>
            <p><a name="profile" href="{{url_for("profile")}}">My Profile</a></p>
            <p><a href="{{url_for("add_recipe")}}">Add Recipe</a></p>

            <div>
                <h3>Recipes</h3>
                <ul>
                {% for recipe in recipes %}
                    <li>
                        <h5>{{recipe.name}}</h5>
                        by User{{recipe.user_id}}
                        <p>{{recipe.text}}</p>
                        Score: {{ recipe.get_score() }}
                        <br>

                        {% if recipe.id in already_voted_recipe_ids %}
                            You already voted for this recipe
                        {% elif recipe.user_id == user_id %}
                            I guess you like your own recipe :)
                        {% else %}
                            <a href="{{url_for("vote_recipe", recipe_id=recipe.id, evaluation="like")}}">like</a>
                            <a href="{{url_for("vote_recipe", recipe_id=recipe.id, evaluation="dislike")}}">dislike</a>
                        {% endif %}
                        <br>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Please <a href="{{url_for("log_in")}}">log in</a> or <a href="{{url_for("sign_up")}}">sign up</a> </p>
        {% endif %}
    	
    </div>

    <!-- JS -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
